.container {
    width: 349px;
    height: 38px;
    background: #E3E3E3;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
}

.text {
    color: #676767;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 7px 18px;
    height: 23px;
    width: 144px;
}

.delete {
    margin-right: 14.71px;
}

@media only screen and (min-width:426px) and (max-width:1920px){
    .container {
        margin-right: 5px;
    }
}